* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: aquamarine;
    height: 100%;
    width: 250px;
}


.sidebar-list{
    width: 100%;
    background-color: blueviolet;
    padding: 0;
}

.sidebar-list #active{
    background-color: #3b7a62;
}
.sidebar-list .row{
    width: 100%;
    height: 60px;
    background-color: coral;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.sidebar-list .row:hover{
    background-color: white;
    color: black;
}

.sidebar-icon{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.sidebar-icon img{
    width: 100px;
}
.sidebar-icon p{
    color: white;
}