
.navbar{
    width: 100%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.navbar-block{
    background-color: yellowgreen;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-block #active{
    background-color: darkgreen;
    color: white;
}

.navbar-option{
    /* background-color: yellowgreen; */
    width: auto;
    padding: 0% 2%;
    text-align: center;
    cursor: pointer;
}

.navbar-option:hover{
    background-color: darkgreen;
    color: white;
}
.navbar-option .navbar-title{
    font-size: 1.5rem;
}
