
.footer{
    width: 100%;
    border-top: 0.25px solid silver;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
